@font-face {
    font-family: 'ProductSans', sans-serif;
    src: url(../assets/fonts/ProductSans-Bold.ttf);
}
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}
a {
    outline: none;
}
header {
    display: flex;
    flex-direction: column;
    background-color: #F4F6F9;
    background-image: url(../assets/img/header_background.png);
    background-repeat: no-repeat;
    background-position: right;
}
.header-logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 0.208%;
    margin-top: 61px;
    margin-left: 11.319%;
}
.logo:hover {
    transform: scale(1.3);
    transition: ease-in-out 0.3s;
    outline: none;
}
.logo-text {
    text-decoration: none;
}
.logo-text:hover {
    transform: translateX(15px);
    transition: ease-in-out 0.3s;
}
h3 {
    font-family: 'ProductSans', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #5282F0;
}
h1 {
    margin-top: 133px;
    margin-left: 11.319%;
    line-height: 1.32;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #333333;
    width: 37.916%;
}
header p {
    margin-left: 11.319%;
    margin-top: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #4F4F4F;
    font-size: 18px;
    width: 31.458%;
}

.what-it-does {
    display: flex;
    flex-direction: row;
    background-image: url(../assets/img/background_gradient.png), url(../assets/img/what-it-does_background.png);
    background-repeat: no-repeat;
    background-position: top left;
}
.visual-content {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.card {
    margin-top: 109px;
    margin-left: 22.638%;
    display: grid;
    width: 50%;
    background-color: white;
    grid-template-columns: 1fr 1fr;
    z-index: 2;
}
.card .card-item:last-child {
    background-color: #EEEEEE;
    grid-column: 1/3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.card-item {
    font-family: 'Lato', sans-serif;
}
.card-data {
    margin-top: 27.26px;
    margin-left: 15.74px;
    margin-bottom: 12.58px;
    font-size: 16.78px;
    font-weight: bold;
    color: #4F4F4F;
}
.card-matchup {
    margin-left: 15.74px;
    margin-bottom: 13.63px;
    font-size: 18px;
    font-weight: 500;
    color: black;
    width: 76px;
}
.card-type {
    margin-left: 15.74px;
    margin-bottom: 16.77px;
    font-size: 16px;
    font-weight: normal;
    color: black;
}
.card-notification {
    margin-top: 13.63px;
    margin-left: 15.74px;
    margin-bottom: 10.68px;
    font-size: 18.88px;
    color: #4F4F4F
}
.card-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.card-images svg {
    position: relative;
}
.chelsea {
    left: -12.66px;
}
.switch {
    margin-right: 25px;
    position: relative;
    display: inline-block;
    width: 27.29px;
    height: 12.58px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #979797;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: -6px;
    bottom: -4.5px;
    background-color: white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    box-shadow: 0 2px 4px #979797;
}
input:checked + .slider {
    background-color:#5282F0;
}
input:checked + .slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
}
.slider.round {
    border-radius: 7px;
}
.slider.round:before {
    border-radius: 50%;
}
video {
    outline: none;
    position: relative;
    margin-left: 37.361%;
    top: -31px;
    z-index: 1;
}
.text-content {
    width: 50%;
}
.text-content h4 {
    text-transform: uppercase;
    margin-top: 133px;
    margin-bottom: 27px;
    margin-left: 10.694%;
}
h4 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #00ADEE;
}
h2 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.32;
    color: #333333;
}
.text-content h2 {
    margin-bottom: 27px;
    margin-left: 10.694%;
}
p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #4F4F4F;
}
.text-content p {
    width: 61%;
    margin-left: 10.694%;
}
.text-content p:first-of-type {
    margin-bottom: 27px;
}
.text-content p:last-of-type {
    margin-bottom: 22px;
}
.text-content a {
    display: inline-block;
    margin-bottom: 117px;
    margin-left: 10.694%;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #00ADEE;
    text-decoration: none;
}
.text-content a:hover, .interface-content a:hover {
    transform: translateX(15px);
    color: #333333;
    transition: ease-in-out 0.5s;
}
.interface {
    background-image: url(../assets/img/interface-background.png);
    background-position: right top;
    background-repeat: no-repeat;
}
.interface-content {
    margin-left: 11.319%;
}
.interface-content h4 {
    margin-top: 217px;
    text-transform: uppercase;
    margin-bottom: 27px;
}
.interface-content p {
    width: 37%;
}
.interface-content p:first-of-type {
    margin-top: 27px;
    margin-bottom: 27px;
}
.interface-content a {
    display: inline-block;
    margin-top: 54px;
    margin-bottom: 171px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #00ADEE;
    text-decoration: none;
}
.features {
    display: flex;
    flex-direction: column;
    background-image: url(../assets/img/features_background.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.features h2 {
    text-align: center;
    color: white;
    margin-top: 76px;
}
.feature-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 77.083%;
}
.feature-item {
    width: 28.018%;
}
.feature-item p {
    margin-top: 11px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
.features .feature-container:first-of-type {
    margin-top: 54px;
    margin-bottom: 45px;
}
.features .feature-container:last-of-type {
    margin-top: 31px;
    margin-bottom: 62px;
}
.feedback {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.feedback h2 {
    margin-top: 72px;
    margin-bottom: 63px;
}
.carousel {
    display: flex;
    flex-direction: row;
    margin-left: 6.083%;
    margin-bottom: 47px;
    width: 100%;
    gap: 2.5%;
}
.carousel-item {
    padding: 15px 13px 24px 17px;
    background-color: transparent;
    border: 1px solid #828282;
    border-radius: 4px;
    width: 21.458%;
    display: flex;
    flex-direction: column;
}
.carousel-item a:hover {
    transform: scale(1.3);
    transition: ease-in-out 0.3s;
}
.carousel-item-header {
    margin-bottom: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.carousel-item-header-name {
    display: flex;
    flex-direction: row;
    gap: 11px;
    align-items: center;
}
.carousel-item-header-name a:hover {
    transform: scale(0.9);
    transition: ease-in-out 0.3s;
}
.carousel-item p {
    text-align: start;
    font-size: 14px;
}
.carousel-item-header-name p {
    color: #333333;
    font-weight: bold;
    font-size: 16px;
}
.previous {
    position: absolute;
    left: -12.6%;
    opacity: 0.4;
}
.next {
    position: absolute;
    right: -5.4%;
    opacity: 0.4;
}
.carousel-button {
    margin-top: 57px;
    width: 47px;
    height: 47px;
    border: 1px solid #00ADEE;
    background-color: white;
    border-radius: 23.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    z-index: 999;
}
.left-button {
    padding-right: 2px;
    position: relative;
    left: 1%;
}
.right-button {
    padding-left: 2px;
    position: relative;
    right: -7%;
}
.right-button:hover {
    transform: translateX(10px);
    cursor: pointer;
    transition: ease-in-out 0.5s;
}
.left-button:hover {
    transform: translateX(-10px);
    cursor: pointer;
    transition: ease-in-out 0.5s;
}
.slider_dots {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 44px;
}
.slider_dots input {
    outline: none;
}
.slider_dots input:hover {
    transform: translatey(-5px);
    transition: ease-in-out 0.3s;
}
.links {
    background-color: #FAFAFA;
    text-align: center;
}
.links h2 {
    margin-top: 57px;
    margin-bottom: 58px;
}
.channels {
    display: flex;
    flex-direction: row;
    gap: 5.486%;
    justify-content: center;
    align-items: center;
    margin-bottom: 68px;
}
.channels a:hover {
    transform: translateY(-10px);
    cursor: pointer;
    transition: ease-in-out 0.5s;
}
.channels a:first-of-type:hover {
    transform: translateX(-10px);
    cursor: pointer;
    transition: ease-in-out 0.5s;
}
.channels a:last-of-type:hover {
    transform: translateX(10px);
    cursor: pointer;
    transition: ease-in-out 0.5s;
}
.teamup {
    background-image: url(..//assets/img/teamup_background.png);
    background-position: top left;
    background-repeat: no-repeat;
}
.teamup h2 {
    margin-top: 105px;
    margin-bottom: 35px;
    margin-left: 51.597%;
}
.teamup p {
    margin-left: 51.597%;
    width: 37.152%;
}
.teamup .download-buttons {
    margin-left: 51.597%;
    margin-top: 38px;
    margin-bottom: 98px;
}
.download-buttons {
    width: 100%;
    margin-left: 11.319%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 2.493%;
    margin-bottom: 165px;
}
.store-button {
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 8.061%;
    height: 47px;
    width: 156.05px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    border-radius: 7.34px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    justify-content: center;
    align-items: center;
}
.store-button > div {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
.store-button p {
    text-align: left;
    width: 100%;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}
h5 {
    color: white;
    font-family: inherit;
    font-weight: 500;
    font-size: 21.27px;
}
.google {
    height: 17.62px;
    width: 52.02px;
}
.google-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 4.44px;
}
.google-button h5  {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 17.6px;
}
.store-button:hover {
    cursor: pointer;
    transform: scale(0.9);
    transition: ease-in-out 0.3s;
    box-shadow: 0 0 10px 3px rgba(128, 128, 128, 0.651);
}
footer {
    background-color: #00ADEE;
}
.footer_content {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 11.319%;
    align-items: center;
    gap: 18.402%;
}
footer .header-logo {
    margin: 0;
}
footer h3 {
    color: white;
}
.social_links {
    display: flex;
    flex-direction: row;
    gap: 17px;
}
nav {
    display: flex;
    flex-direction: row;
    gap: 37px;
}
nav a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
nav a:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.3s;
}
.social_links a:hover {
    transform: scale(1.2);
    transition: ease-in-out 0.4s;
}
@media (max-width: 720px) {
    header {
        background-image: none;
    }
    .header-logo {
        margin-left: auto;
        margin-right: auto;
        margin-top: 24px;
    }
    h1 {
        text-align: center;
        margin-top: 86px;
        margin-left: auto;
        margin-right: auto;
        width: 88.888%;
        font-size: 30px;
    }
    header p {
        margin-left: auto;
        margin-right: auto;
        margin-top: 33px;
        text-align: center;
        font-size: 16px;
        line-height: 1.44;
        width: 88.888%;
    }
    .download-buttons {
        margin-left: 0;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 59px;
        gap: 7.947%;
    }
    .store-button {
        width: 145.69px;
    }
    .what-it-does {
        background-image: url(../assets/img/background_gradient_mobile.png), url(../assets/img/what-it-does_background_mobile.png);
        flex-direction: column-reverse;
        align-items: center;
        background-position: left bottom;
    }
    .text-content {
        width: 88.888%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text-content h4 {
        text-align: center;
        margin-top: 54px;
        margin-left: auto;
        margin-right: auto;
    }
    .text-content h2 {
        text-align: center;
        margin-bottom: 20px;
        margin-left: 0;
    }
    .text-content p {
        text-align: center;
        line-height: 1.44;
        width: 100%;
        margin-left: 0;
    }
    .text-content p:first-of-type {
        margin-bottom: 27px;
    }
    .text-content p:last-of-type {
        margin-bottom: 19px;
    }
    .text-content a {
        display: inline-block;
        margin-bottom: 92px;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size: 16px;
        color: #00ADEE;
        text-decoration: none;
    }
    .visual-content {
        margin-bottom: 18.84px;
        width: 88.888%;
        display: flex;
        flex-direction: column;
    }
    .card {
        margin-top: 0;
        margin-left: 0;
        display: grid;
        width: 77.25%;
        background-color: white;
        grid-template-columns: 1fr 1fr;
        z-index: 2;
    }
    .card .card-item:last-child {
        background-color: #EEEEEE;
        grid-column: 1/3;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .card-item {
        font-family: 'Lato', sans-serif;
    }
    .card-data {
        margin-top: 18.7px;
        margin-left: 10.81px;
        margin-bottom: 8.63px;
        font-size: 11.52px;
    }
    .card-matchup {
        margin-left: 10.81px;
        margin-bottom: 9.35px;
        font-size: 12.35px;
        width: 52.61px;
    }
    .card-type {
        margin-left: 10.81px;
        margin-bottom: 11.51px;
        font-size: 10.98px;
    }
    .card-notification {
        margin-top: 9.35px;
        margin-left: 10.81px;
        margin-bottom: 7.19px;
        font-size: 12.96px;
    }
    .card-images {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    .card-images svg {
        position: relative;
    }
    .arsenal {
        width: 48.76px;
        height: 57.53px;
    }
    .chelsea {
        width: 57.66px;
        height: 57.53px;
        left: -8.66px;
    }
    .switch {
        margin-right: 18.02px;
        width: 18.74px;
        height: 8.63px;
    }
    .slider:before {
        height: 14.38px;
        width: 14.38px;
        left: -4px;
        bottom: -2.5px;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(12px);
        -ms-transform: translateX(12px);
        transform: translateX(12px);
    }
    video {
        margin-left: 72.79px;
        top: -21.31px;
        width: 77.25%;
        z-index: 1;
    }
}